<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="macbook-air-1">
      <div class="macbook-air-1-inner">
        <header class="wn-parent">
          <h1 class="wn">WN</h1>
          <div class="text-area">
            <div class="text-area-child"></div>
            <div class="about-me">About me</div>
            <div class="projects">Projects</div>
            <div class="work-experience">Work Experience</div>
            <div class="blogs">Blogs</div>
          </div>
        </header>
      </div>
      <section class="sub-frame">
        <div class="frame-parent">
          <div class="empty-ellipse-parent">
            <div class="empty-ellipse">
              <div class="empty-ellipse-group">
                <div class="empty-ellipse1">
                  <div class="text-area1">
                    <div class="sub-frame1"></div>
                  </div>
                  <img
                    class="empty-ellipse-child"
                    loading="lazy"
                    alt=""
                    src="static/public/group-1.svg"
                  />
                </div>
                <div class="empty-ellipse2"></div>
              </div>
              <div class="empty-ellipse-container">
                <div class="empty-ellipse3">
                  <div class="text-area2"></div>
                </div>
                <img
                  class="frame-child"
                  loading="lazy"
                  alt=""
                  src="static/public/group-2.svg"
                />
              </div>
            </div>
            <div class="frame-x"></div>
          </div>
          <div class="welcome-frame">
            <div class="about-me-frame">
              <div class="line-frames"></div>
            </div>
            <img
              class="welcome-frame-child"
              loading="lazy"
              alt=""
              src="static/public/group-3.svg"
            />
          </div>
          <div class="ellipse-one">
            <div class="frame-greeting">
              <div class="hey-there-greetings-container">
                <p class="hey-there-greetings">Hey there, greetings!</p>
                <p class="welcome-to-the">
                  Welcome to the vibrant world of a data enthusiast
                </p>
                <p class="who-thrives-on">
                  who thrives on the thrill of discovery!
                </p>
              </div>
              <div class="im-not-just-any-data-scientis-wrapper">
                <div class="im-not-just">
                  I'm not just any data scientist; I'm a passionate explorer of
                  the infinite possibilities data offers. Holding a master's
                  degree in Big Data and Data Analysis, I've ventured through
                  the data landscape, contributing to exceptional projects that
                  have deepened my curiosity and expertise.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="frame-line">
        <div class="about-me1">
          <div class="frame-frame">
            <div class="line-line">
              <img
                class="line-line-child"
                loading="lazy"
                alt=""
                src="static/public/line-1.svg"
              />
            </div>
            <h1 class="about-me2">About me</h1>
            <div class="line-line1">
              <img
                class="line-line-item"
                loading="lazy"
                alt=""
                src="static/public/line-1.svg"
              />
            </div>
          </div>
        </div>
        <div class="my-journey">
          <img
            class="noisy-gradients-icon"
            alt=""
            src="static/public/noisygradients@2x.png"
          />

          <h2 class="my-journey-has">
            My journey has been a testament to the transformative power of data.
            I pride myself on being a versatile virtuoso, adept at everything
            from crafting intricate data pipelines to mastering MLOps,
            seamlessly transitioning from staging to development. My experiences
            have not only sharpened my skills but also fueled my belief in the
            magic of data. Let's embark on this exhilarating adventure together,
            where every dataset tells a story, every analysis uncovers a
            revelation, and every challenge beckons a breakthrough.
          </h2>
        </div>
      </section>
    </div>
  </body>
</html>
