<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Daily Coding Problem | Urgell Baptiste</title>
  <meta content="portfolio" name="application-name">
  <meta content="Baptiste Urgell" name="author">
  <meta content="I am Baptiste Urgell a french engineer in Artificial Intelligence, this is my professional web site where you can find more or less all informations about me." name="description">
  <meta content="resume, baptiste, urgell, scientist, data, machine, learning, engineer, portfolio, contact" name="keywords">
  <meta name="color-scheme" content="only light">
  <meta name="robots" content="index, follow">

  <!-- Favicons -->
  <link href="assets/img/favicon.ico" rel="icon">
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Laura - v4.9.1
  * Template URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex justify-content-center align-items-center ">

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto " href="/#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="/#about">About</a></li>
        <li><a class="nav-link scrollto" href="/#resume">Resume</a></li>
        <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
        <!-- <li><a class="nav-link scrollto active" href="/#portfolio">Portfolio</a></li> -->
        <li class="dropdown"><a href="/#portfolio"><span>Portfolio</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/golf-booking-app">Golf Booking App</a></li>
            <li><a href="/mastermind">Mastermind Game</a></li>
            <li><a href="/daily-coding-problem">Daily Coding Problem</a></li>
            <li><a href="/euromillions-api">EuroMillions API</a></li>
            <li><a href="/homer-bot">Homer Bot</a></li>
            <li><a href="/asian-hornet">Asian Hornet</a></li>
            <li><a href="/surfrider">Surfrider</a></li>
            <li><a href="/everimpact">Everimpact°</a></li>
            <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li> -->
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Dayli Coding Problem</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/#portfolio">Portfolio</a></li>
            <li>Daily Coding Problem</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/logo/daily-coding-problem.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/logo/python.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/logo/c++.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Python/C++ scripts</li>
                <li><strong>Client</strong>: Personnal project</li>
                <li><strong>Project date</strong>: October, 2022</li>
                <li><strong>Project URL</strong>: <a target="_blank" href="https://github.com/BaptisteUrgell/Daily-Coding-Problem">https://github.com/BaptisteUrgell/Daily-Coding-Problem</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
                <h2>Daily Coding Problem</h2>
                <p>
                    <a href="https://www.dailycodingproblem.com/" target="_blank">Daily Coding Problem</a> is an interview preparation service. Most popular coding interview questions are collected and send one hard interview programming problem to inbox every day.
                    Since DCP launched, hundreds of programmers sign up and get jobs at top-tier tech companies and startups like Google, Facebook, Microsoft, Uber, and Airbnb.
                </p>
              </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Baptiste Urgell</h3>
      <p>“The future is not something which happens By just waiting for time to pass. And if you want to be assured of a life after death, you have to build it yourself.” -Sam Hughes</p>
      <div class="social-links">
        <a target="_blank" href="https://twitter.com/Baptiste2108" class="twitter"><i class="bx bxl-twitter"></i></a>
        <!-- <a target="_blank" href="https://www.facebook.com/profile.php?id=100007362638007" class="facebook"><i class="bx bxl-facebook"></i></a> -->
        <!-- <a target="_blank" href="https://www.instagram.com/baptiste_urgell/" class="instagram"><i class="bx bxl-instagram"></i></a> -->
        <a target="_blank" href="https://github.com/BaptisteUrgell" class="github"><i class="bx bxl-github"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/baptiste-urgell-53419217b/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Urgell Baptiste</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>